body {
    margin: 0 auto;
}
.platform {
    width: 600px;
    height: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    background-color: transparent;
}
.menu {
    background-color: #222;
    color: white;
    padding: 4px 0;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 6px;
    font-size: 14px;
    position: sticky;
    top: 0px;
    z-index: 10;
}

.menu h1 {
    margin: 0;
    font-size: 1.2em;
    font-weight: normal;
}

.menu .botoes {
    margin-top: 2px;
}

.menu button {
    background-color: #f0ad4e;
    color: white;
    border: none;
    padding: 4px 10px;
    margin: 0 3px;
    font-size: 0.9em;
    border-radius: 4px;
    cursor: pointer;
}

.menu button:hover {
    background-color: #ec971f;
}
.mesa {
    background-image: url("/jogos/combo-memo/components/platform/wood.jpg");
    background-size: auto 100%;
    background-position: center;
    background-repeat: repeat-x;
    display: flex;
    justify-content: space-between
}